<footer class="site-footer h-card">
    <h3>Footer 01</h3>
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
    <h3>Footer 02</h3>
    <div class="wrapper">
        
        <div class="footer-col-wrapper">
            <div class="footer-col">
                <h3>Footer 03</h3>
                <p class="feed-subscribe">
                    <a href="{{ 'feed.xml' | relative_url }}">
                        <svg class="svg-icon orange">
                            <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
                            <h3>Footer 04</h3>
                        </svg><span>Subscribe</span>
                    </a>
                </p>
                <h3>Footer 05</h3>
                {%- if site.author %}
                <ul class="contact-list">
                    {% if site.author.name -%}
                    <li class="p-name">{{ site.author.name | escape }}</li>
                    {% endif -%}
                    {% if site.author.email -%}
                    <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
                    {%- endif %}
                </ul>
                {%- endif %}
            </div>
            <h3>Footer 06</h3>
            <div class="footer-col">
                <p>{{ site.description | escape }}</p>
            </div>
        </div>
        <h3>Footer 07</h3>
        <div class="social-links">
            {%- include social.html -%}
        </div>
        <h3>Footer 08</h3>
    </div>

</footer>